:root {
  --primary-color: #1B3764;
  --primary-alt-color: #fff;
}

body {
  margin: 0;
}

.app-header {
  background: var(--primary-color);
  padding: 40px 0 40px 0;
  width: 100%;
}

.app-header-content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 0 auto;

  display: grid;
  align-items: center;
  grid-template-columns: max-content auto repeat(3, max-content);
}

.social-buttons {
  display: grid;
  grid-template-columns: repeat(3, 45px);
  gap: 10px;
  margin-right: auto;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-alt-color);
  width: 45px;
  height: 45px;
}

.app-logo {
  margin: 0 33px 0 0;
}

.app-navigation {
  margin-right: 26px;
}

.cart-button {
  margin-right: 30px;
}
